.panel {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 20px 25px;
  position: relative;
  margin-bottom: 20px;

  @include phones {
    padding: 15px;
  }

  @include phones {
    display: none;
  }

  &--web-info, &--visits {
    @include phones {
      display: block;
    }  
  }

  &--web-create {
    width: 460px;
  }

  &--visits {
    @include phones {
      padding: 15px 12px 0;
    }
  }

  &:hover {
    & .panel__close-link {
      opacity: 1;
      visibility: visible;
    }

    & .panel__hint-link {
      opacity: 1;
      visibility: visible;
    }
  }

  &__close-link {
    position: absolute;
    right: 9px;
    top: 9px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
  }

  &__close-icon {
    width: 20px;
    height: 20px;
    fill: $purple;
  }

  &__hint-link {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;


    &:hover {

      & + .popup-panel {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__hint-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    fill: #C4C4C4;
    transition: fill .3s;

    &:hover {
      fill: $purple;
    }
  }

  &__title {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;

    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; 

    @include phones {
      font-size: 12px;
    }
  }
}