.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .4);
  transition: opacity .2s, visibility .2s;
  opacity: 0;
  visibility: hidden;
  z-index: 100000;

  &--is-active {
    opacity: 1;
    visibility: visible;

    & .popup-input__content {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &--webiray {
    z-index: 1000000;
  }

  &__content {
    transition: transform .3s;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    font-size: 14px;

    &--tmp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 50px 50px 35px;
      width: 950px;
      background: #FFFFFF;
      border-radius: 15px;
    }

    &--landings, &--add {
      background: #FFFFFF;
      border-radius: 15px;
      width: 520px;
      padding: 20px 25px;
      display: flex;
      flex-direction: column;
    }

    &--subscribe {
      z-index: 100;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.3);
      max-height: 80%;
    
      padding: 60px 120px;
      background-color: #F2F2F8;
    
      font-family: 'PlumbCondensed';
      font-size: 18px;
      padding: 85px;

    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;

    &--confirm {
      position: static;
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: $purple;
  }

  &__container {
    width: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    width: 100%;
  }
  
  &__input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #5E5E7B;
    color: #fff;
    font-size: 18px;
    padding: 7px;
    margin-bottom: 25px;
    font-family: 'PlumbCondensed';

    &::placeholder {
      color: #fff;
      opacity: .7;
    }
  }

  &__input-text {
    font-size: 18px;
    color: $purple;
    margin-bottom: 15px;
    text-align: center;
  }

  &__title {
    font-size: 14px;
    margin-bottom: 25px;

    &--subscribe {
      font-size: 24px;
      color: $purple;
      margin-bottom: 60px;
      text-transform: uppercase;
    }

    &--big {
      font-size: 24px;
      text-align: center;
    }

    &--small {
      font-size: 18px;
      text-align: center;
    }
  }

  &__inputs {
    margin-bottom: 40px;
  }

  &__btn {
    cursor: pointer;
    background-color: $purple;
    padding: 7px 0;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-family: 'PlumbCondensed';
    border-radius: 5px;
    outline: none;

    transition: box-shadow .35s;
    &:focus, &:hover {
      box-shadow: 0px 0px 12px rgba(255, 137, 0, 0.35);
    }
    
    margin-bottom: 70px;
  }

  &__info-types {
    margin-bottom: 35px;
    align-self: center;
  }

  &__text {
    font-size: 12px;
    margin-bottom: 25px;
  }

  &__top-panels {
    margin-bottom: 15px;
  }

  &__bottom-panels {
    display: flex;
  }

  &__panel {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 25px;
    
    &--btn {
      flex: 1;
      padding: 0;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }

  &__landing-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &__more {
    color: $purple;
    align-self: flex-end;
  }

}