.webinar-list {

  @include phones {
    overflow: auto;
  }

  display: flex;

  &__add-new {
    margin-right: 28px;

    @include phones {
      display: none !important;
    }
  }

  &__plus {
    margin-bottom: 5px;
    width: 25%;
    height: 50%;
  }

  &__text {
    color: $purple;
    font-size: 14px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 28px;
      @include phones {
        margin-right: 20px;
      }
    }
  }
}